/* CSS geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Espaço entre campos */
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
}

button:hover {
    background-color: #218838;
}

/* Responsividade */
@media (max-width: 600px) {
    section {
        padding: 10px;
    }
}




/* Estilos para organizar as colunas */
        .coluna {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        label {
            flex: 1;
            margin-right: 10px;
        }

        input {
            flex: 2;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input::placeholder {
            color: #888; /* Cor do texto do placeholder */
        }



/* tabela dívidas */

.dividas-container {
    display: flex;
    justify-content: space-between; /* Espalha os itens igualmente */
    flex-wrap: wrap; /* Permite quebra de linha se não houver espaço suficiente */
}

.divida {
    flex: 1; /* Cada div ocupa o mesmo espaço */
    min-width: 100px; /* Define uma largura mínima para evitar que fique muito pequeno */
    margin-right: 10px; /* Espaço entre as colunas */
}

.divida:last-child {
    margin-right: 0; /* Remove margem do último item */
}

























